@font-face {
   src: url("MyriadWebPro.ttf");
   fontFamily: myriad;
   embedAsCFF: true; 
}

Application 
{  
   themeColor: #335883;
   backgroundColor: #335883;
   backgroundSize: "100%";
   backgroundImage: Embed(source="assets/img/wood.jpg");
   backgroundGradientColors: #558309, #335e83;
}

ApplicationControlBar {
   fillAlphas: 1, 0.8;
   fillColors: #5583a9, #335e83;
   backgroundColor: #335e83;
   cornerRadius: 0;
   paddingLeft: 10px;
   paddingRight: 10px;
   highlightAlphas: 0.1, 0;
}


BrandingLogo {
        backgroundImage: Embed(source="assets/img/market.png");
        backgroundSize: "100%";
}


MDICanvas {
	backgroundAlpha: 0;
}

Button {
   fontFamily: myriad;
   fillColors: #fefefe, #eeeeee;
   fillAlphas: 1, 1;
   borderColor: #443388;
   borderStyle: solid;
   borderAlpha: 0.7;
   borderThickness: 1;
   cornerRadius: 3;
   highlightAlphas: 0.1, 0.0;
   paddingTop: 1;
   paddingLeft: 3;
   paddingRight: 3;
}

.sendBtn {
   color: red;
   backgroundColor: blue;
}


LinkButton {
   color: #ffffff;
   backgroundColor: blue;
}

ScrollBar {
	fillColors: #ffffff, #cccccc;
	highlightAlphas: 0.1, 0;
	trackColors: #cccccc, #dddddd;
}

MDIWindow {
   borderColor: #dddddd;
   borderAlpha: 1;
   borderThicknessLeft: 8;
   borderThicknessTop: 2;
   borderThicknessBottom: 2;
   borderThicknessRight: 8;
   roundedBottomCorners: true;
   highlightAlphas: 0.1, 0;
   headerColors: #5583a9, #436e93;
   footerColors: #5583a9, #335e83;
   backgroundColor: #cccccc;
   dropShadowEnabled: true;
   shadowDistance: 2;
   titleStyleName: "mypanelTitle";
   paddingTop: 6;
}

.mdiWindowFocus {
    headerHeight: 36;
}

.mdiWindowNoFocus 
{
	headerHeight: 36;
	dropShadowEnabled: false;
	backgroundAlpha: 1;
	borderAlpha: 1;
}

.mypanelTitle 
{
	fontFamily: myriad;
	fontSize: 12;
	fontWeight: bold;
	color: #f3f3f3;
        verticalAlign: 6;
	textIndent: 5;
}


.minimizeBtnFocus 
{
	upSkin:        Embed('assets/img/3_minimizeButton.png');
	overSkin:      Embed('assets/img/3_minimizeButton.png');
	downSkin:      Embed('assets/img/3_minimizeButton.png');
	disabledSkin:  Embed('assets/img/3_minimizeButton.png');
}

.minimizeBtnNoFocus 
{
	upSkin:        Embed('assets/img/3_minimizeButton.png');
	overSkin:      Embed('assets/img/3_minimizeButton.png');
	downSkin:      Embed('assets/img/3_minimizeButton.png');
	disabledSkin:  Embed('assets/img/3_minimizeButton.png');
}

.closeBtnFocus
{
	upSkin:        Embed('assets/img/3_closeButton.png');
	overSkin:      Embed('assets/img/3_closeButton.png');
	downSkin:      Embed('assets/img/3_closeButton.png');
	disabledSkin:  Embed('assets/img/3_closeButton.png');
}

.closeBtnNoFocus
{
	upSkin:        Embed('assets/img/3_closeButton.png');
	overSkin:      Embed('assets/img/3_closeButton.png');
	downSkin:      Embed('assets/img/3_closeButton.png');
	disabledSkin:  Embed('assets/img/3_closeButton.png');
}

.increaseBtnFocus
{
	upSkin:        Embed('assets/img/3_increaseButton.png');
	overSkin:      Embed('assets/img/3_increaseButton.png');
	downSkin:      Embed('assets/img/3_increaseButton.png');
	disabledSkin:  Embed('assets/img/3_increaseButton.png');
}

.increaseBtnNoFocus
{
	upSkin:        Embed('assets/img/3_increaseButton.png');
	overSkin:      Embed('assets/img/3_increaseButton.png');
	downSkin:      Embed('assets/img/3_increaseButton.png');
	disabledSkin:  Embed('assets/img/3_increaseButton.png');
}


.decreaseBtnFocus 
{
	upSkin:        Embed('assets/img/3_decreaseButton.png');
	overSkin:      Embed('assets/img/3_decreaseButton.png');
	downSkin:      Embed('assets/img/3_decreaseButton.png');
	disabledSkin:  Embed('assets/img/3_decreaseButton.png');
}

.decreaseBtnNoFocus 
{
	upSkin:        Embed('assets/img/3_decreaseButton.png');
	overSkin:      Embed('assets/img/3_decreaseButton.png');
	downSkin:      Embed('assets/img/3_decreaseButton.png');
	disabledSkin:  Embed('assets/img/3_decreaseButton.png');
}


.resizeHndlr 
{
	upSkin:        Embed('assets/img/resizeHandler.png');
	overSkin:      Embed('assets/img/resizeHandler.png');
	downSkin:      Embed('assets/img/resizeHandler.png');
	disabledSkin:  Embed('assets/img/resizeHandler.png');
}

LayoutContainer {
  horizontalGap: 10;
}

